<div id="projects" ng-controller="ProjectsController">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputProjectFilter" class="col-sm-2 control-label">Filter projects</label>

            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputProjectFilter" placeholder="Query"
                       ng-model="projectFilter" />
            </div>
        </div>
    </form>
    <table class="table">
        <tbody>
        <tr>
            <th>Name</th>
            <th>Members</th>
            <th>Delete</th>
        </tr>
        <tr ng-repeat="project in projects | filter:projectFilter">
            <td>
                <a href="/#/projects/{{project._id}}">{{project.name}}</a>
            </td>
            <td>
                <span class="members" ng-repeat="member in project.members">
                        <a href="/#/users/{{member}}">
                            <span class="btn btn-default member">{{member}}</span>
                        </a>
                </span>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="deleteProject(project._id)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <form ng-submit="newProject(newProjectName)">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="New project by name" ng-model="newProjectName"/>
        </div>
    </form>
</div>
