<div id="project">
    <h1>{{project.name}}</h1>

    <h3>Members</h3>
    <a href="/#/projects/{{project._id}}">{{project.name}}</a>
    <span class="members" ng-repeat="member in project.members">
        <a href="/#/users/{{member}}">
            <span class="btn btn-default member">{{member}}</span>
        </a>
    </span>
    <hr/>
    <table class="table">
        <tbody>
        <tr>
            <th>Name</th>
            <th>Assignee</th>
            <th>Delete</th>
        </tr>
        <tr ng-repeat="issue in project.issues | filter:issueFilter">
            <td>
                <a href="/#/projects/{{project._id}}">{{issue.name}}</a>
            </td>
            <td>
                <span class="member">
                    <a href="/#/users/{{member}}">
                        <span class="btn btn-default member">{{issue.assigneee}}</span>
                    </a>
                </span>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="deleteIssue(issue._id)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <form ng-submit="newIssue(newIssueName)">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="New issue" ng-model="newIssueName"/>
        </div>
    </form>
</div>
