<!doctype html>
<html lang="en" ng-app="jiraplusplus">
    <head>
        <meta charset="UTF-8">
        <title>JIRA++</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    </head>
    <body ng-controller="ApplicationController">
        <nav class="navbar navbar-default">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="/#/">Home</a></li>
                    <li><a href="/#/users">Users</a></li>
                    <li><a href="/#/projects">Projects</a></li>
                </ul>
                <span class="navbar-text navbar-right" ng-if="currentUser">
                    Signed in as <a href="/#/users/{{currentUser.username}}">{{currentUser.username}}</a> | <a ng-click="signout()">Sign out</a>
                </span>
                <span class="navbar-text navbar-right" ng-if="!currentUser">
                    <a href="/#/signup">Sign up</a> | <a href="/#/login">Log in</a>
                </span>
            </div>
        </nav>
        <div class="container">
            <!--<div ng-include src="'/templates/breadcrumb.html'"></div>-->
            <div ng-view></div>
        </div>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/routes.js"></script>
        <script src="js/services.js"></script>
    </body>
</html>
